body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #BADA55;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;


  /*double click won't mark the text*/
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  /* Standard syntax */
}

#clock {
  display: flex;
  position: relative;
  width: 15em;
  height: 15em;
  border: 10px solid white;
  border-radius: 50%;
}

#seconds,
#minutes,
#hours {
  width: 47%;
  height: 3%;
  margin-left: 3%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  /*pin the right end of the arrow so it can rotate properly*/
  z-index: 1;
}

#seconds {
  background-color: red;
}

#minutes {
  background-color: green;
}

#hours {
  background-color: white;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#ten,
#eleven,
#twelve {
  position: absolute;
  font-size: 2em;
}

#one {
  top: 5%;
  left: 69%;
}

#two {
  top: 21%;
  left: 85%;
}

#three {
  top: 44%;
  left: 92%;
}

#four {
  top: 65%;
  left: 84%;
}

#five {
  top: 81%;
  left: 68%;
}

#six {
  top: 86%;
  left: 47%;
}

#seven {
  top: 81%;
  left: 26%;
}

#eight {
  top: 66%;
  left: 10%;
}

#nine {
  top: 44%;
  left: 3%;
}

#ten {
  top: 23%;
  left: 7%;
}

#eleven {
  top: 7%;
  left: 22%;
}

#twelve {
  left: 44%;
}

#AMorPM {
  position: absolute;
  top: 47.5%;
  left: 78%;
  width: 12%;
  height: 8%;
  background-color: white;
  text-align: center;
  font-size: 1.1em;
}